 <div class="form-group">
    <label for="Catalogue">Catalogue PDF page</label>
    <input name="file[URL][0]" type="URL" class="form-control" id="Catalogue" placeholder="Enter file URL">
  </div>
 <div class="form-group">
    <input name="file[fileName][0]" value="No files" type="text" class="form-control" placeholder="File name"> 
  </div>